<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Dashboard {{dashboard_name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="/static/elements.html">
	<style is="custom-style">
    * {
      --dashboard-background-color: #2b2b2b;
    }
    body {
      margin: 0;
      height: 100vh;
    }
  </style>
</head>

<body class='fullbleed'>
  <dashboard-ws websocket-address="{{websocket_uri}}/{{dashboard_name}}">
    <split-area kind="horizontally">
      <split-area kind="vertically">
        <tile-image id="tile-image1"></tile-image>
        <tile-chart id="tile-chart1"></tile-chart>
        <tile-chart id="tile-chart2"></tile-chart>
        <tile-markdown id="tile-markdown1"></tile-markdown>
      </split-area>
      <split-area kind="vertically">
        <tile-markdown id="tile-markdown2"></tile-markdown>
        <tile-chart id="tile-chart3"></tile-chart>
        <tiles-rotor flip-time="4000">
          <tile-value id="tile-value1"></tile-value>
          <tile-value id="tile-value2"></tile-value>
        </tiles-rotor>
        <tile-markdown id="tile-markdown3"></tile-markdown>
      </split-area>
    </split-area>
  </dashboard-ws>
</body>

</html>